* {
  font-family: monospace;
}
.ball:hover {
  color: white;
}


header {
  display: flex;
  justify-content: center;
  border: 6px gold solid;
  border-radius: 15px;
  width: 600px;
  margin: 10px auto 10px auto;
  background-color: ;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 6px gold solid;
  border-radius: 15px;
  width: 600px;
  margin: 10px auto 10px auto;
  padding: 20px;
}

#placar {
  margin-bottom: 20px;
}