body {
  background-color: black;
}
.navbuttons {
	padding: 5px 15px;
	border-radius: 4px;
	text-decoration: none;
	color: white;
	font-weight: 700;
	font-family: monospace;
}
.navbuttons:hover {
	padding: 5px 15px;
	border-radius: 4px;
	text-decoration: none;
	color: rgb(43, 44, 40);
	font-weight: 700;
	color:rgb(124, 126, 120);
	font-family: monospace;
}
#navheader {
	border-bottom: 2px white solid;
	padding: 1%;
	display: flex;
	justify-content: space-evenly;
}
#fotoDePerfil {
	text-align: center;
	top: 20%;
}
#foto {
	border-radius: 100%;
	border: 5px solid white;
	vertical-align: middle;
	width: 30%;
	margin-top: 5%;
}
#apresentacao {
	padding-top: 2%;
	padding-bottom: 2%;
}

h3, h2, h1, p {
	color: aliceblue;
	text-align: center;
	font-family: monospace;
}
p {
	text-align: justify;
	padding: 10px;
}
#contatos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.container {
	border: 3px white solid;
	border-radius: 10px;
	padding-bottom: 20px;
	margin: 20px;
}
.contbut {
	border: 1px white solid;
	padding: 5px 30px;
	border-radius: 4px;
	text-decoration: none;
	color: white;
	font-weight: 700;
	position: relative;
	font-family: monospace;
	display: inline-flex;
	margin-top: 5px;
}
.contbut:hover {
	background-color: white;
	padding: 5px 30px;
	border-radius: 4px;
	text-decoration: none;
	color: black;
	font-weight: 700;
	position: relative;
	font-family: monospace;
	display: inline-flex;
	margin-top: 5px;
}
.AboutText {
	text-decoration: none;
	color: white;
	font-family: monospace;	
	text-align: justify;
}
.presentation {
	max-width: 800px;
}