body {
  background-color: black;
}
.navbuttons {
	padding: 5px 30px;
	border-radius: 4px;
	text-decoration: none;
	color: rgb(78, 78, 78);
	font-weight: 700;
	position: relative;
	font-family: monospace;
}
.navbuttons:hover {
	padding: 5px 30px;
	border-radius: 4px;
	text-decoration: none;
	color: rgb(43, 44, 40);
	font-weight: 700;
	color:rgb(124, 126, 120);
	position: relative;
	font-family: monospace;
}
#navheader {
	border-bottom: 2px rgb(78, 78, 78) solid;
	padding: 1%;
}
#fotoDePerfil {
	text-align: center;
	top: 20%;
}
#foto {
	border-radius: 100%;
	border: 5px solid rgb(78, 78, 78);
	vertical-align: middle;
	width: 30%;
	margin-top: 5%;
}
#apresentacao {
	padding-top: 2%;
	padding-bottom: 2%;
}
h1 {
	color: aliceblue;
	text-align: center;
	font-family: monospace;
}
#contatos {
	text-align: center;
}
.contbut {
	border: 1px rgb(43, 44, 40) solid;
	padding: 5px 30px;
	border-radius: 4px;
	text-decoration: none;
	color: rgb(43, 44, 40);
	font-weight: 700;
	position: relative;
	font-family: monospace;
	
}
.contbut:hover {
	background-color: rgb(43, 44, 40);
	padding: 5px 30px;
	border-radius: 4px;
	text-decoration: none;
	color: black;
	font-weight: 700;
	position: relative;
	font-family: monospace;
}